{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}Add {% trans "Branch" %} - Digital File Tracking{% endblock %}

{% block header_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Create {% trans "Branch" %}</button>
                        <a href="{% url 'admin_panel' %}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
